.second-row{
  width: 90%;
  height: 100vh;
  display: flex;
  margin: auto;
}

.buttons {
  position: fixed;
  bottom: 50%;
  left: 3%;
  display: flex;
  flex-direction: column;

}

.mobile {
  margin-top: 20px;
}

.back, .mobile{
opacity: 0.8;
font-size: 25px;
color: #ffffff;
text-transform: uppercase;
text-decoration: none;
background: #ed3330;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
cursor: pointer;
}

.back:hover, .mobile:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }